
#form{
 width: 200px;
 margin: auto;
}

#form input , select{
 width: 199px;
 height: 20px;
 border-radius: 8px;
 margin-bottom:20px;
}

#form  select{
 width: 199px;
 height: 25px;
 border-radius: 8px;
 margin-bottom:20px;
}

#form label{
 font-family: Roboto;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 21px;
 align-items: center;
 text-align: justify;
}

#form .simular{
 width:199px; 
 height:40px;
 background: #000000;
 border: black;
 border-radius: 50px;
 margin-top: 20px;
 
 font-family: Roboto;
 font-style: normal;
 font-weight: bold;
 font-size: 18px;
 line-height: 21px;
 color:white;
 align-items: center;
 text-align: center;
}